<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    </configSections>

    <appSettings>
        <add key="ConsumerKey" value="gWfhuhzbuteDFTXTOi5HQ"/>
        <add key="ConsumerSecret" value="92dAzQQvuc51N1BXiJhD0h5sTg8kFZaC2BBSx8oXX8"/>
        <add key="TwitterBaseURL" value="http://twitter.com/"/>
        <add key="TwitterSearchURL" value="http://search.twitter.com/"/>
    </appSettings>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <alias alias="ITwitter" type="NetMag.RedesSociais.Interfaces.ITwitter, NetMag.RedesSociais.Interfaces"/>
        <namespace name="NetMag.RedesSociais.Interfaces"/>
        <assembly name="NetMag.RedesSociais.Interfaces"/>

        <alias alias="LinqToTwitterProxy" type=" NetMag.RedesSociais.Core.Servicos.Twitter.LinqToTwitterProxy, NetMag.RedesSociais.Core"/>
        <namespace name="NetMag.RedesSociais.Core"/>
        <assembly name="NetMag.RedesSociais.Core"/>

        <alias alias="TweetSharpProxy" type=" NetMag.RedesSociais.Core.Servicos.Twitter.TweetSharpProxy, NetMag.RedesSociais.Core"/>
        <namespace name="NetMag.RedesSociais.Core"/>
        <assembly name="NetMag.RedesSociais.Core"/>

        <container name="RedesSociaisContainer">
            <register type="ITwitter" mapTo="TweetSharpProxy"/>
        </container>
    </unity>

    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0"/>
    </startup>
</configuration>
